<h1><%= @restaurant.name %>'s Reviews</h1>
<!--Make sure that the current user did not create a review or already have the restaurant on their bucketlist-->
<% if !@user.restaurants.ids.include?(@restaurant.id) && !@bucketlist.include?(@restaurant.id)%>
<form action="/user/<%= @user_slug %>" method="post">
  <button class="btn btn-secondary mt-auto" name="bucketlist" type="submit" value="<%= @restaurant.id %>">Add
    to Bucket List</button>
</form>
<% end %>

<div class="container-flu">
  <div class="row">
    <!--Create card for each review of restaurant-->
    <% @reviews.each do |review| %>
    <div class="col-xs-12 col-md-6 col-lg-4 mt-3">
      <div class="card h-100 w-100">
        <h5 class="card-header"><strong><%= review.user.username %></strong></h5>
        <div class="card-body d-flex flex-column">
          <p><strong>Rating: <%= review.rating %> out of 5</strong></p>
          <p class="card-text"><%= review.recommendation %></p>
          <% if review.user_id == current_user(session).id %>
          <a href="/reviews/<%= review.id %>/edit" class="btn btn-primary mt-auto" role="button">Edit or Delete</a>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>