<h1>Reviews</h1>

<div class="container-flu">
  <div class="row">
    <% @reviews.each do |review| %>
    <div class="col-xs-12 col-md-6 col-lg-4 mt-3">
      <div class="card h-100 w-100">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title"><strong><%= review.restaurant.name %></strong></h5>
          <h6 class="card-subtitle mb-2 text-muted">
            <address>
              <%= review.restaurant.address %><br>
              <%= review.restaurant.city %>, <%= review.restaurant.state %> <%= review.restaurant.zip_code %><br>
            </address>
          </h6>
          <p><strong><%= review.user.username %>:</strong></p>
          <p><strong>Rating: <%= review.rating %> out of 5</strong></p>
          <p class="card-text"><%= review.recommendation %></p>
          <% if @user.id == review.user_id %>
          <a href="reviews/<%= review.id %>/edit" class="btn btn-primary mt-auto" role="button">Edit</a>
          <% end %>
        </div>
      </div>
      </div>
    <% end %>
  </div>
</div>
